body {
	margin:0px;
	padding:0px;
	background:#eee;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
#container {
	margin:20px auto;
	width:700px;
	background: #fff;
	border-radius:3px;	
	padding:15px;
}
#header h1 {
	text-align:center;
	font-weight:normal;
}
#selectors {
	border-top:solid 5px #0cf;
	border-bottom:solid 5px #0cf;
	padding:10px 0px;
	margin:15px 0px;
}
#clientPrototype {
	display:none;
}
div.client {
	border-bottom:solid 1px #ccc;
	margin:10px 0px;
}
.client h2 {
	font-size:16px;
	font-weight:normal;	
	margin:0px;
	color:#06F;
}
.client .label {
	font-weight:bold;	
}
.client div {
	margin:7px 0px;	
}
.active {
	font-style:italic;
}